intro purpose:

data:

problem:

ablauf
1. read example data
2. synthetic hotel bookings
3. find a baseline
4. model in pulp
5. solve
6. extend (diverse set)


https://coin-or.github.io/pulp/

https://github.com/coin-or/Cbc

$$
i \in H = \{0,1,2,...,n_{\text{hotels}} \}
$$

$$
j \in P = \{0,1,2,...,n_{\text{priods}} \}
$$

$$
X = \{x_{i,j} \in \{0,1\}\}
$$

$$
X \subst X_{\text{free}} = \{x_{i,j}: \text{room} ~i ~\text{available in period}~j \}
$$

$$
p_{i,j} \in \RRR
$$

$$
n_j \in NN days in period j
$$



$$
p_{i,j} = p_i n_j
$$

$$
\sum_{(i,j) \in X_{\text{free}} } p_{i,j} x_{i,j}  
$$

$$
\sum_i x_{i,j} = 1 ~\forall ~j 
$$

$$
\sum_i \sum_j x_{i,j} = n_{\text{chunks}}
$$

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pulp import LpProblem, LpVariable, LpMinimize, lpSum

In [2]:
data = pd.read_excel("hotels.xlsx")

In [3]:
data

,ID,Hotel name,Price(BAM),Hotel star rating,Distance,Customer rating,Rooms,Squares,City
0,1,Europe,139,5,350,8.3,1,25,Sarajevo
1,2,Europe,187,5,350,8.3,2,40,Sarajevo
2,3,Hills,255,5,10000,8.5,3,42,Sarajevo
3,4,Hills,141,5,10000,8.5,2,42,Sarajevo
4,5,Boutique,117,4,450,8.7,1,15,Sarajevo
...,...,...,...,...,...,...,...,...,...
115,116,WUD Hotel,121,3,3200,8.9,2,40,Ljubljana
116,117,uHotel,161,4,250,9.0,1,28,Ljubljana
117,118,Allegro Hotel,106,4,550,8.5,1,35,Ljubljana
118,119,M Hotel,123,4,2400,8.4,1,31,Ljubljana
119,120,Austria Trend Hotel,137,4,3500,8.8,1,34,Ljubljana

In [265]:
# booked 
n_hotels = len(data)
n_days = 14

B = np.zeros((n_hotels, n_days), dtype=bool)

# parameters 

not_booked = 0.0

not_booked_idx = np.random.choice(np.arange(1,n_hotels+1), size=int(not_booked*n_hotels), replace=False)

# fill booked matrix, False: not booked, True: Booked
for i in range(n_hotels):
    if i+1 not in not_booked_idx:
        thresh = np.random.rand()
        B[i] = np.random.rand(n_days) > thresh

In [286]:
# split B in chunks
n_chunks = 3

def filter_hotels(hotels, B, n_chunks):
    # splits the timeframes in n equally sized chunks
    # filters hotels that are not booked in the chunks
    n_h, n_d = B.shape
    days_per_chunk = int(n_d/n_chunks)
    valid_hotels_idx = []
    chunk_lengths = []
    for i in range(n_chunks - 1):
        chunk = B[:,i*days_per_chunk:days_per_chunk*(i+1)]
        chunk_lengths.append(chunk.shape[1])
        valid_hotels_idx.append(np.where(np.any(chunk, axis=1) == False)[0])
    chunk = B[:,(i+1)*days_per_chunk:]
    chunk_lengths.append(chunk.shape[1])
    valid_hotels_idx.append(np.where(np.any(chunk, axis=1) == False)[0])
    return valid_hotels_idx, chunk_lengths

        
def decision_prices_vector(valid_hotels_idx, chunk_lengths):
    x = []
    prices = []
    for i,valid in enumerate(valid_hotels_idx):
        x.extend([str(idx)+"_"+str(i) for idx in list(valid)])
        prices_arr = data.iloc[valid,:]["Price(BAM)"]*chunk_lengths[i]
        prices.extend(prices_arr.tolist())
    prices = dict(zip(x,prices))
    return x, prices
    
c, chunk_lengths  = filter_hotels(data, B, n_chunks)

x,p = decision_prices_vector(c, chunk_lengths)

In [288]:
entire_stay_hotels = data.loc[np.any(B, axis=1) == False]
entire_stay_hotels["total Price"] = entire_stay_hotels["Price(BAM)"] * n_days 
entire_stay_hotels.sort_values("total Price")

/tmp/ipykernel_37487/2991691734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  entire_stay_hotels["total Price"] = entire_stay_hotels["Price(BAM)"] * n_days

,ID,Hotel name,Price(BAM),Hotel star rating,Distance,Customer rating,Rooms,Squares,City,total Price
105,106,Hotel Vila Katrca,62,3,1700,9.0,2,25,Ljubljana,868
74,75,City Code Exclusive,80,4,200,8.9,3,30,Belgrade,1120
13,14,Grand,98,3,2500,7.9,2,14,Sarajevo,1372
37,38,Forty two,98,3,3400,8.4,2,22,Zagreb,1372
107,108,Hotel Vila Katrca,112,3,1700,9.0,2,35,Ljubljana,1568
9,10,Holiday inn,113,4,2100,8.4,1,35,Sarajevo,1582
24,25,Riverside residence,135,4,300,9.4,4,40,Sarajevo,1890
109,110,Hotel Mrak,139,3,350,8.7,2,37,Ljubljana,1946
99,100,Radisson Blu Plaza Hotel Ljubljana,152,4,3900,8.9,1,28,Ljubljana,2128
40,41,Viena,164,3,5000,8.0,3,30,Zagreb,2296
98,99,Radisson Blu Plaza Hotel Ljubljana,192,4,3900,8.9,2,28,Ljubljana,2688
83,84,Saint Ten Hotel,272,5,1800,9.4,1,40,Belgrade,3808
47,48,Esplanade,296,5,900,9.3,2,34,Zagreb,4144

In [297]:
x[0].split("_")[-1]

'0'

In [300]:
def solve_hotel_choices(x, p, n_chunks):
    # decision variables
    x_lp = LpVariable.dicts("hotels", x, cat="Binary")

    prob = LpProblem("mix_and_save", LpMinimize)

    prob += lpSum([p[i]*x_lp[i] for i in x])

    #prob += lpSum([x_lp[i] for i in x]) == n_chunks

    for i in range(n_chunks):
        prob += lpSum([x_lp[xs] for xs in x if i == int(xs.split("_")[-1])]) == 1
    prob.solve()
    return prob
    
prob = solve_hotel_choices(x,p,n_chunks)

Welcome to the CBC MILP Solver
Version: 2.10.5
Build Date: Oct 15 2020

command line - cbc /tmp/ae5262487e7b4df9a98ec5d305adac0a-pulp.mps timeMode elapsed branch printingOptions all solution /tmp/ae5262487e7b4df9a98ec5d305adac0a-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8 COLUMNS
At line 321 RHS
At line 325 BOUNDS
At line 404 ENDATA
Problem MODEL has 3 rows, 78 columns and 78 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 684 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from 684 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                684.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

In [315]:
def get_optimum(prob, p):
    chosen = {}
    total = 0
    for v in prob.variables():
        if v.varValue>0:
            print(v.name, "=", v.varValue)
            name = v.name.split("_",1)[-1]
            price = p[name]
            chosen[name] = price
            print(price, " BAM")
            total += price
    print("total = ", total)
    return chosen

opt = get_optimum(prob, p)

hotels_105_2 = 1.0
372  BAM
hotels_17_0 = 1.0
156  BAM
hotels_17_1 = 1.0
156  BAM
total =  684

In [301]:
for v in prob.variables():
    if v.varValue>0:
        print(v.name, "=", v.varValue)

hotels_105_2 = 1.0
hotels_17_0 = 1.0
hotels_17_1 = 1.0

In [329]:
def subsample_hotels(x, p, prop):
    idx = np.arange(len(x))
    idx_sample = np.random.choice(idx, size=int(prop*len(x)), replace=False)
    x = [xs for i,xs in enumerate(x) if i  in idx_sample]
    p = {xs: p[xs] for xs in x}
    return x, p 

x_sample, p_sample = subsample_hotels(x,p,0.8)

prob = solve_hotel_choices(x_sample, p_sample, n_chunks)
get_optimum(prob,p_sample)

Welcome to the CBC MILP Solver
Version: 2.10.5
Build Date: Oct 15 2020

command line - cbc /tmp/91a9401eb70548b0ab6b811a3ef8969e-pulp.mps timeMode elapsed branch printingOptions all solution /tmp/91a9401eb70548b0ab6b811a3ef8969e-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8 COLUMNS
At line 257 RHS
At line 261 BOUNDS
At line 324 ENDATA
Problem MODEL has 3 rows, 62 columns and 62 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 764 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from 764 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                764.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

hotels_105_2 = 1.0
372  BAM
hotels_17_0 = 1.0
156  BAM
hotels_66_1 = 1.0
236  BAM
total =  764

{'105_2': 372, '17_0': 156, '66_1': 236}

In [284]:
v.getName()

'hotels_(105,_2)'

In [272]:
x_lp_x = {v:k for k,v in x_lp.items()}
chosen = []
for v in prob.variables():
    if v.varValue>0:
        print(v.name, "=", v.varValue)
        chosen.append(x_lp_x[v])

hotels_(105,_2) = 1.0

KeyError: hotels_(105,_2)

In [319]:
def exclude_hotels(x, p, hotels_ex):
    # hotels_ex: list
    x = [xs for xs in x if xs not in hotels_ex]
    p = {xs: p[xs] for xs in x if xs not in hotels_ex}
    return x, p 

x_ex, p_ex = exclude_hotels(x,p,list(opt.keys()))

In [325]:
get_optimum(solve_hotel_choices(x_ex,p_ex,n_chunks),p)

Welcome to the CBC MILP Solver
Version: 2.10.5
Build Date: Oct 15 2020

command line - cbc /tmp/2763d02e15a24caa8b5a215395b86c46-pulp.mps timeMode elapsed branch printingOptions all solution /tmp/2763d02e15a24caa8b5a215395b86c46-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 8 COLUMNS
At line 309 RHS
At line 313 BOUNDS
At line 389 ENDATA
Problem MODEL has 3 rows, 75 columns and 75 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 952 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from 952 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                952.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

hotels_66_0 = 1.0
236  BAM
hotels_66_1 = 1.0
236  BAM
hotels_74_2 = 1.0
480  BAM
total =  952

{'66_0': 236, '66_1': 236, '74_2': 480}